<html>
<head>
	<title>Locked</title>
	<link rel ="stylesheet" href="/static/Locked.css">
	<link rel ="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
	<style>
		body{
			background-image:url("/static/Background.jpg");
			background-size:100%;
			font-family: "Hiragino Sans GB",sans-serif;
		}		
	</style>
</head>

<body>
	<div id = "camera-box">
		<h1>Smart Locker</h1>
		
		<h2>The webcam is OFF &nbsp;
		<span style="color: #EE3636;" class="fa-stack fa-1x">
			<i class="fa fa-video-camera fa-stack-1x"></i>
			<i class="fa fa-ban fa-stack-2x text-danger"></i>
		</span>
		</h2>
			
		<h2>Your smartlock is currently locked &nbsp;&nbsp;
		<i style="color: #EE3636;" class="fa fa-lock fa-2x"> </i>
		</h2>
		
		
		<a href="/webcamon"><button style = "background-color: #44c767;"> Turn On webcam
		<i class="fa fa-video-camera" aria-hidden="true"></i>
		</button></a>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<a href="/login"><button style = "background-color: #EE3636;"> Logout
		<i class="fa fa-sign-out" aria-hidden="true"></i>
		</button></a>
		
		<br/><br/>
		
		<h3>
		<i style="color: #F6F20E;" class="fa fa-exclamation-triangle fa-1x"> </i>&nbsp;
		Please confirm identity of courier before unlock &nbsp;
		<i style="color: #F6F20E;" class="fa fa-exclamation-triangle fa-1x"> </i>
		</h3>
		
		<br/><br/>
		
		<div class= "others">
		Contact us&nbsp; <i class="fa fa-phone" ></i>&nbsp;&nbsp;| &nbsp; Help &nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;|&nbsp; Emergency unlock &nbsp;<i class="fa fa-unlock-alt"></i>
		</div>
	
	</div>	
</body>
</html>


