<html>
<head>
	<title>Login</title>
	<link rel ="stylesheet" href="/static/Login.css">
	<link rel ="stylesheet" href="/static/css/font-awesome.min.css">
	<style>
		body{
			background-image:url("/static/Background.jpg");
			background-size:100%;
			font-family: "Hiragino Sans GB",sans-serif;
		}				
	</style>
</head>

<body>
	<div id = "login-box">
		<h1>Smart Locker</h1>
		
		<div class="form">
			
			<div class="item">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<input type="text" placeholder="Username">
			</div>
			
			<div class="item">
				<i class="fa fa-key" aria-hidden="true"></i>
				<input  type="password" placeholder="Password">
			</div>
		
		</div>
		
		<h3>
		<input type="checkbox"> Remember me
		</h3>

		<a href="/webcamon"><button>Login</button></a>
		
		<h4>
		Register for new product &nbsp;&nbsp;|&nbsp; &nbsp; Forgot password &nbsp; 
		</h4>
		
		<br/>
		
		<div class= "others">
		Contact us&nbsp; <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;| &nbsp; Help &nbsp;<i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;|&nbsp; Emergency unlock &nbsp;<i class="fa fa-unlock-alt" aria-hidden="true"></i>
		</div>
		
	</div>
		
</body>
</html>
