<html>
<head>
	<title>Webcamon</title>
	<link rel ="stylesheet" href="/static/Webcamon.css">
	<link rel ="stylesheet" href="/static/css/font-awesome.min.css">
	<style>
		body{
			background-image:url("/static/Background.jpg");
			background-size:100%;
			font-family: "Hiragino Sans GB",sans-serif;
		}		
	</style>
</head>

<body>
	<div id = "camera-box">
		<h1>Smart Locker</h1>
		
		<h2>The webcam is ON &nbsp;&nbsp;
		<i style="color: #44c767;" class="fa fa-video-camera fa-2x"> </i>
		</h2>
			
		<h2>Your smartlock is unlocked &nbsp;&nbsp;
		<i style="color: #44c767;" class="fa fa-unlock-alt fa-2x"> </i>
		</h2>
		
		<br/><br/>
		
		<img src="http://192.168.1.7:5001"></img>
		
		<br/><br/>

	
		<a href="/webcamon"><button style = "background-color: #44c767;">Lock
		<i class="fa fa-lock" aria-hidden="true"></i>
		</button></a>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<a href="/locked"><button style = "background-color: #EE3636;">Turn off webcam
		<i class="fa fa-ban" aria-hidden="true"></i>
		</button></a>
		
		<br/><br/>
		
		<h3>
		<i style="color: #F6F20E;" class="fa fa-exclamation-triangle fa-1x"> </i>&nbsp;
		Please confirm identity of courier before unlock &nbsp;
		<i style="color: #F6F20E;" class="fa fa-exclamation-triangle fa-1x"> </i>
		</h3>
		
		<br/>
		
		<div class= "others">
		Contact us&nbsp; <i class="fa fa-phone" ></i>&nbsp;&nbsp;| &nbsp; Help &nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;|&nbsp; Emergency unlock &nbsp;<i class="fa fa-unlock-alt"></i>
		</div>	
	</div>
		
</body>
</html>


